*.swp
*.DS_Store
StudentSubmissions/COMP2010-SubmitCoursework/Group*
StudentSubmissions/COMP2010-Submit Coursework Part I - Parsing--1864387.zip
result.csv
test_0.csv
*~
StudentSubmissions/COMP2010-SubmitCoursework/log.txt
